{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1>{{request.user}}</h1>
    <p>Now playing: {{track}}</p>
    <form action="" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="ADD">
    </form>
    <div class = "tracks">
        <ul>
            {% for title, date, name in info %}
                <div class = "track">
                    <div>
                        <li> <p> {{ title }} </p> <p> {{ date }} </p> <p> by {{name}} </p>  </li> <br>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}