{% extends "base.html" %}
{% block title %}Devices{% endblock %}
{% block content %}
    <h1>{{request.user}}</h1>
    <h3> Aviable devices </h3>
    <form action="devices" method="post">
        <ul>
            {% for d in devices_list %}
                <p> {{ d.emoji }} {{ d.name }} {{ d.type }} <input type="radio" value="{{d.name}}" id="{{d.name}}" name="device"> </p>
            {% endfor %}
        </ul>
        <input type="submit" value="Set">
        {% csrf_token %}
    </form>
{% endblock %}