{% extends "base.html" %}
{% load static %}
{% block title %}Lobby #{{id}}{% endblock %}
{% block content %}
    <div id="headers">
        <h1> Lobby #{{id}} </h1>
        <h1 style="color: #999999; margin-left: 5%"> Owner - {{owner}} </h1>
    </div>

    <div class="container">
        <div class="row" id = "lobby_container">
            <div class="col-11 pb-2 mb-3">
                <p>Now playing: {{track}}</p>
                <form action="{{id}}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="submit" value="ADD">
                </form>
            </div>
            <div class="col-1 pb-2 mb-3" id = "delete">
                {% if is_owner %}
                    <form action = "{{id}}" method="post">
                        {% csrf_token %}
                        <button name="delete" value="{{id}}" type="submit">Delete</button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-between" id="lobby_container">
            <div class="col-md-6">
                <h3> Members </h3>
                <div id="members">
                    {% for member in members %}
                        {{member.username}} <br>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <h3> History </h3>
                <div id="history">
                    <ul>
                        {% for song in history %}
                            <div class = "track">
                                <li> <p> {{ song.title }} </p> <p> {{ song.time }} </p> <p> by {{ song.user }} </p>  </li>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div> 
    </div>

{% endblock %}