{% extends "base.html" %}
{% load static %}
{% block title %}Lobby #{{lobby.id}}{% endblock %}
{% block additions %}
    <link href="{% static "css/lobby.css" %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
    <script src="{% static "js/switch-menu.js" %}"> </script>
    <script src="{% static "js/ajax_lobby_add_track.js" %}"> </script>
    <script src="{% static "js/ajax_remove_members.js" %}"> </script>
    <script src="{% static "js/ajax_ban_user.js" %}"> </script>
    <script src="{% static "js/ajax_unban_users.js" %}"> </script>
{% endblock %}
{% block content %}
    <div id="headers">
        <h1> Lobby #{{lobby.id}} </h1>
        <h1 style="color: #999999; margin-left: 5%"> Owner - {{owner}} </h1>
        <h1 id="members_count">Members: {{lobby.num_members}}</h1>
    </div>
    {% if is_owner %}
        <div id = "switch">
            <button class="{%if request.GET.p == "settings"%} unactive-button {% else %} active-button {% endif %}"> Overview </button>
            <button class="{%if request.GET.p == "overview"%} unactive-button {% else %} active-button {% endif %}"> Settings </button>
        </div>
    {% endif %}
    <div id="switch_box">
        <div class="row">
            <div class="container col-6 {% if request.GET.p == "settings" %} moveLeft {% endif %}" id="overview">
                <div class="row" id = "lobby_container">
                    <div class="col-11 pb-2 mb-3">
                        <p>Now playing: {{track}}</p>
                        <form id="add_track" method="post">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <input type="hidden" name="add_to" value="{{lobby.id}}"></input>
                            <input type="submit" value="ADD"></input>
                        </form>
                    </div>
                    <div class="col-1 pb-2 mb-3" id = "delete">
                        {% if is_owner %}
                            <form action = "{{id}}" method="post">
                                {% csrf_token %}
                                <button name="delete" value="{{lobby.id}}" type="submit">Delete</button>
                            </form>
                        {% else %}
                            <form action = "{{id}}" method="post">
                                {% csrf_token %}
                                <button name="leave" value="{{request.user.id}}" type="submit">Leave</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
                <div class="row justify-content-between" id="lobby_container">
                    <div class="col-md-6">
                        <form class = "ov-form" id="remove_members" method="post">
                            {% csrf_token %}
                            <div id="members-head">
                                <h3> Members </h3>
                                {% if is_owner %}
                                    <input type="hidden" name="lobby_id" value="{{lobby.id}}"></input>
                                    <button id="remove-button" type="submit">REMOVE</button>
                                {% endif %}
                            </div>
                            <div id="members">
                                <ul class="list-group">
                                    {% for member in members %}
                                        <li class="list-group-item d-flex justify-content-between list-group-item-light" id="li-{{member.id}}">
                                            {{member.username}} {% if is_owner and lobby.owner.id != member.id %} <input class="form-check-input" type="checkbox" name = "to_delete" value = "{{member.id}}"> {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <h3> History </h3>
                        <div id="history">
                            <ul class = "group-list" id="list-history">
                                {% for song in history %}
                                    <li class="list-group-item list-group-item-action"> {{ song.title }} {{ song.date }} by {{song.user}} </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div> 
            </div>
            {% if is_owner%}
                <div class="container col-6 {% if request.GET.p == "settings" %} moveLeft {% endif %}" id="settings">
                    <form action="">
                        {% csrf_token %}
                        {{ mmf }}
                    </form>
                    <div id="ban">
                        <p>Add user to ban list</p>
                        <form id="ban_form" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="lobby_id" value="{{lobby.id}}"></input>
                            {{ ban_form }}
                            <button type="submit">BAN</button>
                        </form>
                        <form id="unban" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="lobby_id" value="{{lobby.id}}"></input>
                            <div id="ban-list">
                                <ul class="list-group">
                                    {% for user in ban_list %}
                                        <li class="list-group-item d-flex justify-content-between list-group-item-light" id="li-ban-{{user.id}}">
                                            {{ user.username }} <input class="form-check-input" type="checkbox" name="to_unban" value="{{user.id}}" aria-label="...">
                                        </li>
                                    {% endfor %}
                                </ul>
                                <button id="unbun-button">UNBUN</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}